.home-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    text-align: left; /* 将文本对齐方式改为左对齐 */
}

.professor-image {
    width: 100%; /* 设置图片宽度为其容器宽度的100% */
    max-width: 300px; /* 限制图片的最大宽度为300px */
    height: auto; /* 设置图片高度自动，保持图片比例 */
    border-radius: 50%; /* 将图片设置为圆形 */
    margin-bottom: 20px; /* 图片下方的间隔 */
    float: left; /* 将图片设置为浮动，使文本环绕在其右侧 */
    margin-right: 20px; /* 设置图片右侧的间隔，确保文本不会紧贴图片 */
}

.home-container h1 {
    margin-bottom: 20px; /* 标题下方的间隔 */
    color: #0065bd; /* 标题颜色 */
    /* 如果您想让标题紧跟在图片后面，您可以考虑为它添加 float: left; 的样式 */
}

.home-container p {
    margin-bottom: 20px; /* 段落下方的间隔 */
    /*color: #000000;  段落文字颜色 */
    line-height: 1.6; /* 段落的行高，决定了文本的垂直间隔 */
    /* 清除浮动，如果您有连续的段落需要环绕在图片周围，则不需要这个样式 */
    /* 如果这是最后一个需要环绕图片的元素，则应该清除浮动 */
    /* clear: both; */
}



/* 或者，如果您只想针对特定的链接设置样式，您可以定义一个类 */
.custom-link {
    text-decoration: none;
    color: #005293; /* 自定义颜色 */
}


.academic-links-container {
    text-align: center; /* 文本居中 */
    margin-top: 40px; /* 增加与上面内容的间距 */
}

.follow-text {
    font-size: 20px; /* 字体大小，根据需要调整 */
    margin-bottom: 20px; /* 增加与图标间的间距 */
    font-weight: bold; /* 字体加粗 */
    color: #0065bd; /* 文本颜色，根据需要调整 */
}

.academic-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* 图标之间的间距 */
}

.academic-icon {
    width: 50px; /* 根据实际大小需求调整 */
    height: auto;
}
