.research-page {
    max-width: 800px; /* 根据你的页面设计调整宽度 */
    margin: auto;
    padding: 20px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #fff; /* 如果你需要的话，可以设置背景色 */
    color: #333; /* 主要文字颜色 */
}


.research-page h2,
.research-page h3 {
    color: #0056b3; /* 主题色调，适用于所有标题 */
}

.research-page h1 {
    margin-bottom: 30px;
    color: #333; /* 大标题使用黑色字体 */
}

.research-page .section {
    margin-bottom: 40px; /* 每个研究领域部分的底部间距 */
}

.research-page .section h2 {
    margin-top: 0;
    margin-bottom: 15px; /* 小标题底部间距 */
    font-size: 28px; /* 小标题字体大小 */
}

.research-page .section h3 {
    margin-top: 20px; /* 小标题顶部间距 */
    margin-bottom: 10px; /* 小标题底部间距 */
    font-size: 22px; /* 小标题字体大小 */
}

.research-page p {
    line-height: 1.6; /* 段落行高 */
    margin-bottom: 20px; /* 段落底部间距 */
    text-align: justify; /* 段落两端对齐 */
}

.research-page ul {
    margin-left: 20px; /* 列表左侧间距 */
    list-style-type: disc; /* 列表项目标记样式 */
}

.research-page li {
    margin-bottom: 10px; /* 列表项底部间距 */
}

.research-page a {
    color: #0065bd; /* 链接颜色 */
    text-decoration: none; /* 去除链接下划线 */
}

.research-page a:hover {
    text-decoration: underline; /* 鼠标悬停时链接下划线 */
}

/* 可能还需要添加一些媒体查询来处理响应式布局 */
@media (max-width: 768px) {
    .research-page {
        padding: 10px;
    }

    .research-page h1 {
        font-size: 24px; /* 移动设备上的标题字体大小 */
    }

    .research-page .section h2 {
        font-size: 22px; /* 移动设备上的小标题字体大小 */
    }

    .research-page .section h3 {
        font-size: 18px; /* 移动设备上的小标题字体大小 */
    }
}
