.navbar {
    background-color: #0065bd; /* tum蓝 */
    color: white;
    padding: 10px 20px;
    text-align: left; /* 左对齐文本，以便标题靠左 */
    display: flex; /* 使用flex布局来更好地控制子元素的位置 */
    align-items: center; /* 垂直居中子元素 */
    width: 100%;
}

.navbar-title {
    font-size: 35px !important; /* 或者更大的尺寸，取决于你的偏好 */
    font-weight: bold; /* 如果你想要粗体字 */
    margin-right: auto; /* 将标题推到左边，其他导航项推到右边 */
}

.navbar a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 18px;
}

/*.navbar a:hover {
    text-decoration: underline;
}*/
